# Environment variables - contains API keys!
.env

# Large downloaded model files
/models/

# Generated vector store
/faiss_index/

# Python virtual environment
/myenv/
/venv/

# Python cache files
__pycache__/
*.pyc

# Ignore all contents of the extracted_images folder
extracted_images/